.splashscreen-page {
    display:flex;
    justify-content: center;
    align-items: center;

    height:100%;
}

.logo {
    height: 12vh;
    width: auto;
}

.name {
    height: 7vh;
    width: auto;
}