<ion-card>
  <div class="ion-text-end ion-margin-end ion-margin-top">
    <ion-button (click)="confirm()" fill="clear" class="close-button ion-no-padding ion-no-margin">
      Close&nbsp;
      <ion-icon name="close-circle-outline"></ion-icon>
    </ion-button>
  </div>
  <ion-card-header>
    <ion-card-title class="ion-text-center">Transcribe Your Recordings</ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-text-start">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="subtitle">
            <ion-text color="dark" class="ion-text-center">
              Head Over to your browser to start <ion-text color="primary">Transcribing!</ion-text>
            </ion-text>  
          </div>
         
          <ul>
            <li>
              <ion-text color="dark">
                Open <ion-text color="primary" class="bold-text">Scribie.com</ion-text> in your preferred browser, and sign up if you already haven't!
              </ion-text>
            </li>
            <li>
              <ion-text color="dark">
                Head over to uploads and select the file you want to transcribe.
              </ion-text>
            </li>
            <li>
              <ion-text color="dark">
                After the upload is complete, move over to <ion-text color="primary" class="bold-text">All Files</ion-text> and, when you're ready, press <ion-text color="primary" class="bold-text">Order Transcription.</ion-text>
              </ion-text>
            </li>
          </ul>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button (click)="scribie()"> 
            Open Scribbie
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>  
</ion-card>