.container {
    padding: 0;

    height: 100%;
    flex-flow: column;

    display: flex;
}

.flex-display, .fab-btn-container, .flex-non-center {
    display: flex;
    justify-content: center;   
}

.flex-non-center {
    padding-top: 150px;
}

.flexi {
    display: flex;
    justify-content: center;   
}

.flex-display {
    height: 100%;
    align-items: center;
}

.expand {
    width: 100%;
}

.absolute-center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .container-header {
    margin-top: 40px;
    flex: 0 1 auto;
}

.logo {
    width: 30vw;
    height: auto;
}

.container .container-body {
    flex: 1 1 auto;
    
    margin: 10px;
    margin-top: 0px;
}

.stopwatch {
    font-size: 35px;

    font-weight: lighter;
}

ion-col.fixedcol {
    flex: 0 0 35px;
    padding:0;
    margin-right:5px;
    margin-left: 5px;
}

ion-button[shape=circle] {
    /*
    recording animation
    --border-style: solid;
    --border-width: 10px;
    --border-color: var(--ion-color-light);*/

    --border-radius: 50%;

    width: 80px;
    height: 80px;
}

.action-button {
    height: 100px;
}

.button-div {
    display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.action-button .button-div ion-icon {
    font-size: 65px;
}

.action-button .button-div label {
    display: block; 

    font-size: 22px;
    font-weight: bold; 
}